<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windcoder.qycms.blog.repository.mybatis.MyBlogArticleTagMapper" >
    <insert id="insterBatch">
        insert ignore into blog_article_tag (
        article_id,
        tag_id
        )
        values
        <foreach collection="articleTagList" item="item" index="index"
                 separator=",">
            (
            #{item.articleId},#{item.tagId}
            )
        </foreach>
    </insert>
    <delete id="deleteByArticleIdAndTagIdBatch">
        DELETE
        FROM
            blog_article_tag
        WHERE
        <foreach collection="articleTagList" item="item" index="index" separator="or">
            (
            article_id = #{item.articleId}
            AND tag_id = #{item.tagId}
            )
        </foreach>
    </delete>
    <select id="findTagnameListByArticleId" resultType="java.lang.String">
        select t.name
        from blog_tag t left join blog_article_tag bat on t.id = bat.tag_id
        where bat.article_id = #{articleId}
    </select>


    <select id="findTagWebListByArticleId" resultType="com.windcoder.qycms.blog.dto.BlogTagWebDto">
        select t.id, t.name,t.identifier
        from blog_tag t left join blog_article_tag bat on t.id = bat.tag_id
        where bat.article_id = #{articleId}
    </select>
</mapper>