.ant-layout-sider {
    background: #00BFFF !important;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
    background: #00BFFF !important;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #1E90FF !important;
}

[_nghost-c2] .logo {
    background: #1E90FF !important;
}