<div nz-row>
    <div nz-col [nzSpan]="18" [nzPush]="6">
        <nz-table #nzTable [nzData]="categoryData">
            <thead>
              <tr>
                <th nzWidth="40%">Title</th>
                <th nzWidth="30%">Key</th>
                <!-- <th>Address</th> -->
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-data [ngForOf]="nzTable.data">
                <ng-template ngFor let-item [ngForOf]="expandDataCache[data.key]">
                  <tr *ngIf="(item.parent&&item.parent.expand)||!(item.parent)">
                    <td [nzIndentSize]="item.level*20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand" (nzExpandChange)="collapse(expandDataCache[data.key],item,$event)">
                      {{item.title}}
                    </td>
                    <td>{{item.key}}</td>
                    <!-- <td>{{item.address}}</td> -->
                  </tr>
                </ng-template>
              </ng-template>
            </tbody>
          </nz-table>
    </div>

    <div nz-col [nzSpan]="6" [nzPull]="18">
        <qy-category-form (save)="save($event)"></qy-category-form>
    </div>
</div>
<nz-content>

</nz-content>