<nz-content>
    <div nz-row class="editable-add-btn">
      <!-- <button nz-button nzType="primary" [routerLink]="['../add']">添加</button> -->
    <!-- <button nz-button nzType="primary"(click)="sayHello()" >sayHello</button> -->
      全部(0)
      <nz-divider nzType="vertical"></nz-divider>
      待审核(0)
      <nz-divider nzType="vertical"></nz-divider>
      已审核(0)
      <nz-divider nzType="vertical"></nz-divider>
      垃圾评论(0)
    </div>
  <nz-table  #nzTable  [nzData]="data?.content" [nzPageSize]="data?.size"  [nzLoading]="loading" [nzFrontPagination]="'false'"  [(nzPageIndex)]="pageIndex" [nzTotal]="data?.totalElements" (nzPageIndexChange)="loadData()" >
      <thead nz-thead>
        <tr>
          <th nz-th><span>作者</span></th>
          <th nz-th><span>评论</span></th>
          <th nz-th><span>回复至</span></th>
          <th nz-th><span>提交于</span></th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data; let i = index" (mouseenter)="show[i]=true"  (mouseleave)="show[i]=false">
          <td nz-td>
            <strong>
            <nz-avatar class="comment-avatar" [nzShape]="'square'" [nzIcon]="'anticon anticon-user'"></nz-avatar>
            {{data.author}}</strong><br>
            <a href="{{data.url}}">{{data.url}}</a>
            <a href="#" class="akismet_remove_url" commentid="284" title="移除此URL">x</a>
            <br>
            <a>{{data.email}}</a><br>
            <a>{{data.ip}}</a>
          </td>
          <td nz-td>
            <p>{{data.content}}</p>
            <div *ngIf="show[i]" >
              <a *ngIf="data.status=='APPLIED'" class="text-success" href="javascript:;" (click)="updateStatus(data.id, 'ENROLLED')">批准</a>
              <a *ngIf="data.status=='ENROLLED'" class="text-warning" href="javascript:;" (click)="updateStatus(data.id, 'APPLIED')">驳回</a> 
              <a *ngIf="data.status=='REFUSED'" class="text-success" href="javascript:;" (click)="updateStatus(data.id, 'ENROLLED')" >不是垃圾评论</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a href="javascript:;" class="text-danger" *ngIf="data.status!='REFUSED'" (click)="updateStatus(data.id, 'REFUSED')" >垃圾评论</a>
              <nz-divider nzType="vertical" *ngIf="data.status!='REFUSED'"></nz-divider>
              <a href="javascript:;" class="text-danger"  >永久删除</a>
            </div>
            
          </td>
          <td nz-td><a href="javascript:;" >{{data.target?data.target.targetName : ''}}</a></td>
          <td nz-td>
            <span>{{data.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>