<div class="container-fluid py-4 bg-light bg-faded" style="height: 100%;">
  <div class="card">
    <div class="card-body">
      <a href="#" class="pull-right">不再显示</a>
      <h3 class="card-title">欢迎使用 企慕课堂 - <small>部署版</small></h3>
      <p>我们为您准备了几个常用的功能：</p>
      <div class="row">
        <div class="col">
          <h5>开始使用</h5>
          <button type="button" class="btn btn-primary btn-lg my-3">自定义站点</button>
          <br>
          <span>或</span>
          <a href="#">更换主题</a>
        </div>
        <div class="col">
          <h5>接下来</h5>
          <div><i class="fa fa-book"></i> 添加一门课程</div>
          <div><i class="fa fa-graduation-cap"></i> 发布课程培训</div>
          <div><i class="fa fa-graduation-cap"></i> 发布课程培训</div>
        </div>
        <div class="col">
          <h5>更多操作</h5>

        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          // 概览： 课件、课程、培训班。。。 <br>
          // 我的： 权限内的数据动态【概览】、权限、待办事项、消息/系统管理公告 <br>
          // 管理助手 <br>
          // 自定义面板 <br>
          // 其他 -> 方便管理员快速入门和快速使用的功能，让管理员能感知系统的灵魂 <br>
        </div>
      </div>
    </div>
  </div>
</div>
