.container {
    color: #fff;
    margin: 0;
    bottom: 40px;
    left: 0;
    width: 100%;
    z-index: 2;
    position: absolute;
    padding: 20px;
}


.jumbotron {
    height: 400px;
    position: relative;
    background-size: cover;
    .container {
       
        h1 {
            padding: 16px 0 0;
            margin: 24px 0 0;
            border-top: 1px dotted rgba(255,255,255,.3);
            color: #fff;
            font-weight: 600;
            display: block;
        }
    }
    

}



