<nz-content>
  <form nz-form [formGroup]="validateForm" >
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
  
  
      <!-- <div  nz-col nzSpan="16" [nzPull]="8"> -->
          <div  nz-col >
        <nz-form-item>
          <nz-form-label [nzSpan]="3" nzRequired>开启评论</nz-form-label>
          <nz-form-control [nzSpan]="16" nzHasFeedback>
            <nz-switch [nzSize]="'small'" formControlName="isEnabled" ></nz-switch>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <!-- [disabled]="!validateForm.valid" -->
            <button nz-button nzType="primary" (click)="submitForm($event,validateForm.value)" >保存</button>
            <!-- <button nz-button (click)="resetForm($event)">Reset</button> -->
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  
  
</nz-content>