   :host ::ng-deep .logo {
       height: 32px;
       background: #333;
       border-radius: 6px;
       margin: 16px;
   }

   :host ::ng-deep .ant-layout-sider-collapsed .nav-text {
       display: none;
   }

   :host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
       display: none;
   }

   :host ::ng-deep .ant-layout-sider-collapsed .anticon {
       font-size: 16px;
       margin-left: 8px;
   }

   :host ::ng-deep .trigger {
       font-size: 18px;
       line-height: 64px;
       padding: 0 16px;
       cursor: pointer;
       transition: color .3s;
   }

   :host ::ng-deep .trigger:hover {
       color: #108ee9;
   }
.main {
    padding: 0 0;
}
header, nav{
    background: #fff;
    
}
.content {
    padding: 20px 15px;
}
.main {
    background-color: #fff;
    -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
}
