<nz-layout style="width: 100%;height: 100%;background: #fff;">
       <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'lg'"  [nzCollapsedWidth]="0"  [nzTrigger]="triggerTemplate">
          <div class="logo">
          </div>
          <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'" [nzInlineCollapsed]="isCollapsed">
              <qy-nav-left [isCollapsed]="isCollapsed" [navItems]="navItems"></qy-nav-left>
          </ul>
        </nz-sider>
        <nz-layout>
          <!-- <nz-header style="background: #fff; padding:0;">
            <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
          </nz-header> -->
          <qy-header [isCollapsed]='isCollapsed' (doSubmit)="choseIsCollapsed($event)">
            
            </qy-header>
          <nz-content style="margin:0 16px;">
            <!-- <nz-breadcrumb style="margin:16px 0;">
              <nz-breadcrumb-item>User</nz-breadcrumb-item>
              <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb> -->
            <div nz-row style="margin:16px 0;"></div>
            <div style="padding:24px; background: #fff; min-height: 360px;">
         
                 <router-outlet></router-outlet>
            </div>
          </nz-content>
          <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
        </nz-layout>
</nz-layout>

<ng-template #trigger>
        <i class="anticon anticon-up"></i>
</ng-template>