<div id="latest-posts" class="block5">

    <aside class="block5-widget">
        <h2 class="widget-title">近期文章</h2>
        
        <ul class="list-unstyled">
            <li class="media article" *ngFor="let data of articlesData?.content">
                <div class="entry-thumb">
                    <img class="mr-3" [src]="getNewUrl(data.thumbnail)" alt="Generic placeholder image">
                </div>
                <div class="media-body">
                <h5 class="mt-0 mb-1">{{data.title}}</h5>
                {{data.summary || ""}}···
                </div>
            </li>
            <!-- <li class="media my-4 article">
                <img class="mr-3"  [src]="imagSrc" alt="Generic placeholder image">
                <div class="media-body">
                <h5 class="mt-0 mb-1">List-based media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li>
            <li class="media article">
                <img class="mr-3"  [src]="imagSrc" alt="Generic placeholder image">
                <div class="media-body">
                <h5 class="mt-0 mb-1">List-based media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </li> -->
        </ul>
        
        <div class="row" style="text-align: center;">
            <div class="col">
                <ngb-pagination  [collectionSize]="articlesData?.totalElements" [disabled]="loading" [pageSize]="articlesData?.size" [(page)]="pageIndex" [maxSize]="3" [rotate]="true" [directionLinks]="false" [boundaryLinks]="true" (pageChange)="loadData(event) "></ngb-pagination>
            </div>
        </div>
    </aside>

</div>