.ant-layout-sider {
    background: #f39c12 !important;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
    background: #f39c12 !important;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: rgb(154, 178, 202) !important;
}

[_nghost-c2] .logo {
    background: #1E90FF !important;
}