<form nz-form [formGroup]="validateForm" >
  <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }"> 
      <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>标题</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback>
            <input nz-input formControlName="title" placeholder="async validate try to write JasonWood">
            <nz-form-explain *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors || validateForm.get('title').pending ">
              <ng-container *ngIf="validateForm.get('title').hasError('required')">
                Please input your title!
              </ng-container>
              <ng-container *ngIf="validateForm.get('title').hasError('duplicated')">
                The title is redundant!
              </ng-container>
              <ng-container *ngIf="validateForm.get('title').pending">
                Validating...
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
      </nz-form-item>


      <nz-form-item >
        <nz-form-label [nzSpan]="7" nzRequired>别名</nz-form-label>
        <div>
          <nz-form-control [nzSpan]="12" nzHasFeedback>
            <input nz-input formControlName="keyWord" >
            <nz-form-explain *ngIf="validateForm.get('keyWord').dirty&&validateForm.get('keyWord').hasError('required')">Please input your keyWord!</nz-form-explain>
          </nz-form-control>
        </div>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>父级分类</nz-form-label>
        <!-- <qy-category-select  formControlName="parent"></qy-category-select> -->
        <nz-form-control [nzSpan]="12" nzHasFeedback>
             <nz-tree-select 
          nzPlaceHolder="Please select"
          formControlName="parent"
          [nzDropdownMatchSelectWidth]="true"
          [nzDropdownStyle]="{ 'max-height': '300px' }"
          [nzNodes]="nodes"
          [nzAsyncData]="true"
          (nzExpandChange)="onExpandChange($event)">
        </nz-tree-select>
        </nz-form-control>
      </nz-form-item>
        
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>描述</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <textarea formControlName="description" nz-input rows="2" placeholder="write any thing"></textarea>
        </nz-form-control>
      </nz-form-item>



      
      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" (click)="submitForm($event,validateForm.value)" >保存</button>
          <!-- <button nz-button *ngIf="user" (click)="resetForm($event)">返回</button> -->
        </nz-form-control>
      </nz-form-item>
  </div>         
</form>