<form [formGroup]="validateForm"  >  
    <div class="form-row">
        <div class="col nickName">
            <input type="text" class="form-control" formControlName="author" placeholder="昵称">
            <div class="text-danger" *ngIf="getFormControl('author').dirty&&getFormControl('author').hasError('required')">昵称必填</div>
        </div>
        <div class="col email">
            <input type="text" class="form-control" formControlName="email" placeholder="邮箱">
            <div class="text-danger" *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('required')">邮箱必填</div>
            <div class="text-danger" *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">邮箱格式错误</div>
        </div>
        <div class="col url">
            <input type="text" class="form-control" formControlName="url"placeholder="网址">
        </div>
    </div>
    <div class="form-row">
        <div class="col comment-content">
            <textarea class="form-control" formControlName="content" id="exampleFormControlTextarea1" rows="3"></textarea>
            <div class="text-danger" *ngIf="getFormControl('content').dirty&&getFormControl('content').hasError('required')">内容不能为空</div>
        </div>
    </div>
    <button class="btn btn-primary" type="button" (click)="submitForm($event)">回复</button>
</form>