<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windcoder.qycms.system.repository.mybatis.MyCommentMapper" >





    <insert id="insertSelective" parameterType="com.windcoder.qycms.system.entity.Comment">
        insert into sns_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="agent != null">
                agent,
            </if>
            <if test="authorName != null">
                author_name,
            </if>
            <if test="authorEmail != null">
                author_email,
            </if>
            <if test="authorIp != null">
                author_ip,
            </if>
            <if test="authorUrl != null">
                author_url,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="targetId != null">
                target_id,
            </if>
            <if test="depth != null">
                `depth`,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="topParentId != null">
                top_parent_id,
            </if>
            <if test="createdDate != null">
                created_date,
            </if>
            <if test="lastModifiedDate != null">
                last_modified_date,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="agent != null">
                #{agent,jdbcType=VARCHAR},
            </if>
            <if test="authorName != null">
                #{authorName,jdbcType=VARCHAR},
            </if>
            <if test="authorEmail != null">
                #{authorEmail,jdbcType=VARCHAR},
            </if>
            <if test="authorIp != null">
                #{authorIp,jdbcType=VARCHAR},
            </if>
            <if test="authorUrl != null">
                #{authorUrl,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="targetId != null">
                #{targetId,jdbcType=BIGINT},
            </if>
            <if test="depth != null">
                #{depth,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="topParentId != null">
                #{topParentId,jdbcType=BIGINT},
            </if>
            <if test="createdDate != null">
                #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedDate != null">
                #{lastModifiedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
</mapper>