<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windcoder.qycms.system.repository.mybatis.MyRolePrivilegeMapper" >

    <resultMap id="BaseResultMap" type="com.windcoder.qycms.system.dto.PermissionDto">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="created_by" jdbcType="BIGINT" property="createdBy" />
        <result column="last_modified_by" jdbcType="BIGINT" property="lastModifiedBy" />
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate" />
        <association property="user" javaType="com.windcoder.qycms.system.dto.UserInfoDto">
            <!-- 定义这个集合中元素的封装规则 -->
            <result column="userId" property="id"/>
            <result column="userNickname" property="nickname" />
            <result column="username" property="username" />
        </association>
        <association property="role" javaType="com.windcoder.qycms.system.dto.RoleDto">
            <!-- 定义这个集合中元素的封装规则 -->
            <result column="roleId" property="id"/>
            <result column="roleName" property="name" />
        </association>
        <association property="privilege" javaType="com.windcoder.qycms.system.dto.PrivilegeDto">
            <!-- 定义这个集合中元素的封装规则 -->
            <result column="privilegeId" property="id"/>
            <result column="privilegeName" property="name" />
        </association>
    </resultMap>

<!--    <select id="list" resultMap="BaseResultMap">-->
<!--        select-->
<!--        sp.id, sp.user_id userId,  su.nickname userNickname,su.username,-->
<!--               (select name from sys_privilege where id=sp.privilege_id) privilegeName,-->
<!--               (select name from sys_role where id=sp.role_id) roleName-->
<!--        from sys_permission sp left join sys_user su on sp.user_id = su.id-->
<!--        order by sp.created_date DESC-->
<!--    </select>-->


<!--    <select id="selectRoleByUserId" resultType="com.windcoder.qycms.system.dto.RoleDto">-->
<!--        select sr.id, sr.name-->
<!--        from sys_role sr-->
<!--            left join sys_permission sp on sr.id = sp.role_id-->
<!--            left join sys_user su on sp.user_id = su.id-->
<!--        where su.id = #{userId}-->
<!--    </select>-->
<!--    <select id="selectRoleNamesByUserId" resultType="java.lang.String">-->
<!--        select sr.name-->
<!--        from sys_role sr-->
<!--            left join sys_permission sp on sr.id = sp.role_id-->
<!--            left join sys_user su on sp.user_id = su.id-->
<!--        where su.id = #{userId}-->
<!--    </select>-->

    <select id="selectPrivilegeIdentifierListByRoleId" resultType="java.lang.String">
        select sp.identifier
        from sys_role_privilege srp
        left join sys_privilege sp on srp.privilege_id = sp.id
        where srp.role_id = #{roleId};
    </select>
</mapper>