<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windcoder.qycms.system.repository.mybatis.MySysIpBlackMapper" >


 
    <select id="findAllIpBlackIp" resultType="java.lang.String">
        select visitor_ip from sys_ip_black where deleted = 0;
    </select>
</mapper>