<div class=" container comment-body">
    <div class="main row comment-form">
        <qy-reply-form [target]="target" [comment]="comment" (save)="submitForm($event)" style="width: 100%"></qy-reply-form>
    </div>
    <div class="main row comment-list"> 
        <div class="col comment-list-col" *ngIf="target&&target.commentCount>0">

            <h5 class="comment-title">{{target.commentCount}}评论</h5>
            <div class="media" *ngFor="let comment of commentData?.content; let i = index" (mouseenter)="show[i]=true"  (mouseleave)="show[i]=false">
                <img class="mr-3 comment-avatar"  [src]="getNewUrl(null)" alt="Generic placeholder image" >
                <div class="media-body">
                    <!-- <div > -->
                        <h5 class="mt-0">{{comment.author}}</h5>
                        <span >{{comment.content}}</span>
                        <span class="comment-reply-a" *ngIf="show[i]&&!replyShow[i]&&(childComment ? !childComment.isChidShow : true)"> <a  class="text-success" href="javascript:;" (click)="childComment.replyCShowInit();replyShowFun(i)">回复</a></span>
                        <div class="media mt-3 replyShow" *ngIf="replyShow[i]&&(childComment ? !childComment.isChidReplyShow : true)">
                            <qy-reply-form  [target]="target" [comment]="null" [parent]="comment" (save)="submitReplyForm($event)"></qy-reply-form>
                        </div>
                    <!-- </div> -->
                    <qy-comment-child-list #childComment [parent]="comment" [parentShowFalg]="isReplyShow" [target]="target" (childReply)="childReply($event)" ></qy-comment-child-list>

                    <!-- ss:{{childComment?.isChidShow}}
                    <button (click)="childComment.childPrint()"></button> -->
                </div>
                <!-- <div class="media-body">
                        
                </div> -->
            </div>
            <div class="row pagination-info" >
                    <div class="col">
                        <ngb-pagination size="sm" [collectionSize]="commentData?.totalElements" [disabled]="loading" [pageSize]="commentData?.size" [(page)]="pageIndex" [maxSize]="3" [rotate]="true" [directionLinks]="false" [boundaryLinks]="true" (pageChange)="loadData()"></ngb-pagination>
                    </div>
            </div>
        </div>

    </div>
</div>