<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace=" com.windcoder.qycms.quartz.repository.mybatis.JobInfoMapper">
  <resultMap id="BaseResultMap" type="com.windcoder.qycms.quartz.dto.QuartzBeanDto">
    <result column="JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <result column="JOB_GROUP" jdbcType="VARCHAR" property="jobGroup" />
    <result column="JOB_CLASS_NAME" jdbcType="VARCHAR" property="jobClass" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="TRIGGER_STATE" jdbcType="VARCHAR" property="statusStr" />
    <result column="START_TIME" jdbcType="bigint" property="startTimeLong" />
    <result column="END_TIME" jdbcType="bigint" property="endTimeLong" />
    <result column="REPEAT_INTERVAL" jdbcType="bigint" property="interval" />
    <result column="CRON_EXPRESSION" jdbcType="VARCHAR" property="cronExpression" />
  </resultMap>

  
   <select id="findJobList" resultMap="BaseResultMap" >
     SELECT DISTINCT
       jd.JOB_NAME ,
       jd.JOB_GROUP ,
       jd.JOB_CLASS_NAME ,
       t.DESCRIPTION ,
       t.TRIGGER_STATE ,
       t.START_TIME ,
       t.END_TIME ,
       st.REPEAT_INTERVAL,
       ct.CRON_EXPRESSION
     FROM
       QRTZ_JOB_DETAILS jd
         LEFT JOIN QRTZ_TRIGGERS t  ON  jd.JOB_NAME = t.JOB_NAME and  jd.JOB_GROUP = t.TRIGGER_GROUP
         LEFT JOIN QRTZ_CRON_TRIGGERS ct ON  t.TRIGGER_NAME = ct.TRIGGER_NAME and  t.TRIGGER_GROUP = ct.TRIGGER_GROUP
         LEFT JOIN QRTZ_SIMPLE_TRIGGERS st on t.TRIGGER_NAME = st.TRIGGER_NAME and t.TRIGGER_GROUP = st.REPEAT_COUNT
   </select>


  <select id="findOne" resultMap="BaseResultMap" >
    SELECT DISTINCT
      jd.JOB_NAME ,
      jd.JOB_GROUP ,
      jd.JOB_CLASS_NAME ,
      t.DESCRIPTION ,
      t.TRIGGER_STATE ,
      t.START_TIME ,
      t.END_TIME ,
      st.REPEAT_INTERVAL,
      ct.CRON_EXPRESSION
    FROM
      QRTZ_JOB_DETAILS jd
        LEFT JOIN QRTZ_TRIGGERS t  ON  jd.JOB_NAME = t.JOB_NAME and  jd.JOB_GROUP = t.TRIGGER_GROUP
        LEFT JOIN QRTZ_CRON_TRIGGERS ct ON  t.TRIGGER_NAME = ct.TRIGGER_NAME and  t.TRIGGER_GROUP = ct.TRIGGER_GROUP
        LEFT JOIN QRTZ_SIMPLE_TRIGGERS st on t.TRIGGER_NAME = st.TRIGGER_NAME and t.TRIGGER_GROUP = st.REPEAT_COUNT
        <where>
          jd.JOB_NAME = #{jobDto.name}
        <if test="jobDto.jobGroup != null and articleDto.jobGroup != ''">
          and jd.JOB_GROUP = #{articleDto.jobGroup}
        </if>
        </where>
  </select>
</mapper>