<form nz-form [formGroup]="validateForm" >
  <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">

    <div nz-col [nzSpan]="8" [nzPush]="16"> 

      <div ng-row>
          <nz-collapse [nzBordered]="true">
              <nz-collapse-panel  [nzHeader]="'封面图'" [nzActive]="'true'" [nzDisabled]="'false'">
                <nz-form-item>
                    <nz-form-control [nzSpan]="24" >
                    <nz-upload
                    nzAction="https://jsonplaceholder.typicode.com/posts/"
                    nzListType="picture-card"
                    [(nzFileList)]="fileList"
                    [nzShowButton]="fileList.length < 1"
                    [nzPreview]="handlePreview">
                      <i class="anticon anticon-plus"></i>
                      <div class="ant-upload-text">Upload</div>
                  </nz-upload>
                  <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                    <ng-template #modalContent>
                      <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                    </ng-template>
                  </nz-modal>
                </nz-form-control>
                </nz-form-item>  
              </nz-collapse-panel>
            </nz-collapse>
      </div>

      <div ng-row style="margin:16px 0;">
        <nz-collapse>
            <nz-collapse-panel  [nzHeader]="'发布状态'" [nzActive]="'true'" [nzDisabled]="'false'">
                <nz-form-item>
                  <nz-form-label [nzSpan]="4" >发布</nz-form-label>
                  <nz-form-control [nzSpan]="16" >
                    <nz-switch [nzSize]="'small'" formControlName="isPublished"></nz-switch>
                  </nz-form-control>
                </nz-form-item>  
                <ng-container *ngIf="getFormControl('isPublished').value === true">
                    <nz-form-item>
                        <!-- <nz-form-label [nzSpan]="6" ></nz-form-label> -->
                        <nz-form-control >
                          <nz-date-picker nzPlaceHolder="请选择发布时间" formControlName="publishedDate" nzShowTime></nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                </ng-container>
              </nz-collapse-panel>
        </nz-collapse>
      </div>

    </div>

    <div  nz-col nzSpan="16" [nzPull]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="3" nzRequired>标题</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback>
          <input nz-input formControlName="title" ng-disabled="disabledValue" placeholder="文章的标题">
          <nz-form-explain *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors || validateForm.get('title').pending ">
            <ng-container *ngIf="validateForm.get('title').hasError('required')">
              请输入文章的标题!
            </ng-container>
            <!-- <ng-container *ngIf="validateForm.get('title').hasError('duplicated')">
              The title is redundant!
            </ng-container> -->
            <!-- <ng-container *ngIf="validateForm.get('title').pending">
              Validating...
            </ng-container> -->
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>


            <!-- <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>分类</nz-form-label>
                    <div>
                      <nz-form-control [nzSpan]="12" nzHasFeedback>
                        <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()">
                        <nz-form-explain *ngIf="validateForm.get('password').dirty&&validateForm.get('password').hasError('required')">Please input your password!</nz-form-explain>
                      </nz-form-control>
                    </div>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>标签</nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback>
                <input nz-input type="password" formControlName="checkPassword" placeholder="confirm your password">
                <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty&&validateForm.get('checkPassword').errors">
                  <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
                    Please confirm your password!
                  </ng-container>
                  <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
                    Password is inconsistent!
                  </ng-container>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            
            <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
              <nz-form-control [nzSpan]="12" nzHasFeedback>
                <input nz-input formControlName="email" placeholder="email" type="email">
                <nz-form-explain *ngIf="validateForm.get('email').dirty&&validateForm.get('email').errors">
                  <ng-container *ngIf="validateForm.get('email').hasError('email')">
                    The input is not valid E-mail!
                  </ng-container>
                  <ng-container *ngIf="validateForm.get('email').hasError('required')">
                    Please input your E-mail!
                  </ng-container>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item> -->



            <!-- <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>链接</nz-form-label>
              <nz-form-control [nzSpan]="12" >
                  <input nz-input  formControlName="nickname" placeholder="confirm your password">
                <nz-form-explain *ngIf="validateForm.get('nickname').dirty&&validateForm.get('nickname').hasError('required')">Please input your nickname!</nz-form-explain>
              </nz-form-control>
            </nz-form-item> -->

        <nz-form-item>
                <nz-form-label [nzSpan]="3" nzRequired>内容</nz-form-label>
                <nz-form-control [nzSpan]="16" >
                  <qy-editor-md formControlName="content" (getHtmlValue)="getHtmlValue($event)" ></qy-editor-md>
                  <nz-form-explain *ngIf="validateForm.get('content').dirty&&validateForm.get('content').hasError('required')">Please input your comment !</nz-form-explain>
                </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <!-- [disabled]="!validateForm.valid" -->
            <button nz-button nzType="primary" (click)="submitForm($event,validateForm.value)" >保存</button>
            <!-- <button nz-button (click)="resetForm($event)">Reset</button> -->
          </nz-form-control>
        </nz-form-item>
    </div>
  </div>
</form>
