.ant-layout-sider {
    // background: #00BFFF !important;
    background: #1970a9 !important;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
    background: #1970a9 !important;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #096099 !important;
}

[_nghost-c2] .logo {
    background: #096099 !important;
}