<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.windcoder.qycms.blog.repository.mybatis.MyBlogCategoryTreeMapper" >
    <insert id="inserOrUpdateBatch"  parameterType="java.util.List" useGeneratedKeys="true" keyProperty="data.id">
        INSERT INTO blog_category_tree (parent_id, child_id, distance, child_count) VALUES
        <foreach collection="categoryTreeList" item="item" index="index" separator="," >
          (  #{item.parentId},
            #{item.childId},
            #{item.distance},
            #{item.childCount})
        </foreach>
        ON DUPLICATE KEY UPDATE
        parent_id = VALUES(parent_id),
        child_id = VALUES(child_id)
    </insert>


    <update id="updateChildCount">
        update blog_category_tree bct set bct.child_count = bct.child_count + 1
        where bct.child_id  = #{childId}
    </update>
    <update id="minusChildCount">
        update blog_category_tree ctx set ctx.child_count = ctx.child_count - 1 where ctx.child_id = #{childId}
    </update>
    <delete id="cleanParents">
        delete from blog_category_tree
        where
            parent_id in (select * from (select tx.parent_id from blog_category_tree  tx where tx.child_id = #{id} and tx.distance > 0) x )
            and child_id in (select * from (select tx.child_id from blog_category_tree  tx where tx.parent_id = #{id}) x )
    </delete>
    <select id="selectChildrenCount" resultType="java.lang.Long">
        select cx.child_count from blog_category_tree cx
        where cx.distance = 0 and cx.child_id = #{childId}
    </select>
</mapper>